<head>
    {% load static %}
    <!--Materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Materialize JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Materialize Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="padding: 32px; background-color: #f5f6f8;">
    <!-- Form to get github credentials. Github API allows a maximum of 60/hour requests without authentication.
    Incase more than 60 requests are to be made, user has to provide credentials. -->
    <form method="POST" action="/register_user">
        <div class="row">
            <div class="input-field col s6">
                {% csrf_token %}
                <input id="first_name" type="text" name="user_name" class="validate">
                <label for="first_name">Your Github User Name</label>
                <span class="helper-text">Authentication not necessary unless you want to make more than 60 requests per hour</span>
            </div>
            <div class="input-field col s6">
                {% csrf_token %}
                <input id="password" type="password" name="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Authenticate
            <i class="material-icons right"></i>
        </button>
    </form>
    <!-- Form to get public repository URL-->
    <form method="POST" action="/issues">
        <div class="row">
            <div class="input-field col s6">
                {% csrf_token %}
                <input id="repourl" type="text" name="repourl" class="validate">
                <label for="repourl">Public Repository URL</label>
                <span class="helper-text">URL Syntax: https://github.com/user_name/repository_name</span>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Get Issues
            <i class="material-icons right"></i>
        </button>
    </form>

    <!-- In a non-happy case where some error occurs, this is to print the error message on the screen -->
    {% if error_message %}
    <blockquote>
        <span style="color:#e57373">
            <i class="tiny material-icons">error</i>
            {{ error_message }}
        </span>
    </blockquote>
    {% endif %}
    <br>
    <span>Total Issues: {{ total_issues }}</span>
    <br><br>
    <!-- Iterate through the dictionary to render the issues for each category and their count respectively -->
    {% for key, value in issue_dict.items %}
    <!--Type of issue title-->
    <span>{{ value.title }}<b>{{ value.total }}</b> </span>
        <table class="striped">
            {% if value.total %}
            <th>
                <td>Issue Title</td>
                <td>Created At</td>
            </th>
            {% endif %}
            {% for issue in value.issues %}
            <tr>
                <!--Link to issue-->
                <td>
                    <a href="{{ issue.issue_url }}" target="_blank">
                        <i class="tiny material-icons">call_made</i>
                    </a>
                </td>
                <!--Issue title-->
                <td>{{issue.issue_title}}</td>
                <td>{{issue.issue_created_at}}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
    {% endfor %}

</body>
